.container {
  display: flex;
  align-items: center;    /* Alinha o campo verticalmente ao centro */
  height: 100vh;          /* Define a altura do contêiner como 100% da altura da tela */
  flex-direction: column; /* Empilha os elementos verticalmente */
}

.example-form-field {
  width: 100%; /* Ajusta o tamanho do campo de entrada se necessário */
  max-width: 400px; /* Define um tamanho máximo para o campo de entrada */
}

