<div class="container">
  <mat-form-field class="example-form-field">
    <mat-label>Pesquise o Filme</mat-label>
    <input matInput type="text" [(ngModel)]="value">
      <button [routerLink]="['']" matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    <!--
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
    -->
  </mat-form-field>

    <mat-radio-group aria-label="Select an option">
      <mat-radio-button class="custom-radio-button" value="1">Título</mat-radio-button>
      <mat-radio-button class="custom-radio-button" value="2">Ano</mat-radio-button>
      <mat-radio-button class="custom-radio-button" value="3">Categoria</mat-radio-button>
    </mat-radio-group>
</div>
