.custom-button {
  text-color: #FFFFFF; // Cor do texto
}
// Defina variáveis para o espaçamento
$button-margin: 8px;
$title-margin: 8px;

mat-toolbar {
  display: flex;
  align-items: center; // Alinha itens verticalmente ao centro
  justify-content: space-between;

  .spacer {
    flex: 1 1 auto;
  }

  button {
    margin-right: $button-margin; // Adiciona espaço à direita do botão
  }

  .toolbar-title {
    margin-left: $title-margin; // Adiciona espaço à esquerda do texto
  }
}

.menu {
  display: flex;
  align-items: end;
}
