.custom-card {
  max-width: 80%;  // Define a largura máxima do card
  margin: 20px auto; // Centraliza o card horizontalmente e adiciona margem superior
  width: 100%;       // Garante que o card não ocupe mais que 100% da largura disponível
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Adiciona uma leve sombra para destacar o card
}

table {
  width: 100%;       // Faz a tabela ocupar toda a largura disponível no card
}

.toolbar-center {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  align-items: center;     /* Centraliza verticalmente o conteúdo */
  text-align: center;      /* Garante que o texto dentro do span esteja centralizado */
}

