<!--
<p><mat-slide-toggle [(ngModel)]="mostrarMaisVelhos" (change)="alternarLista()">
  {{ mostrarMaisVelhos ? 'Todos os Filmes' : 'Filmes Mais Velhos' }}
</mat-slide-toggle></p>
-->

<!-- Campo de Filtragem -->
<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput placeholder="filtro por qualquer valor" (keyup)="filtrar($event)">
</mat-form-field>

<mat-card appearance="outlined">
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <mat-toolbar color="primary">
        <span>Lista de Filmes</span>
      </mat-toolbar>

      <!-- Colunas Criadas -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef> Nome</th>
        <td mat-cell *matCellDef="let filme"> {{ filme.titulo | titlecase }}</td>
      </ng-container>
      <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef> Ano</th>
        <td mat-cell *matCellDef="let filme"> {{ filme.ano }}</td>
      </ng-container>
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria</th>
        <td mat-cell *matCellDef="let filme"> {{ filme.categoria | titlecase }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações</th>
        <td mat-cell *matCellDef="let filme">
          <button mat-icon-button (click)="editar(filme)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="remover(filme)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Definições de cabeçalho e linhas-->
      <tr mat-header-row *matHeaderRowDef=mostrarColunas></tr>
      <tr mat-row *matRowDef="let row; columns: mostrarColunas;"></tr>
    </table>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
